<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}">
    <title>首页</title>
</head>
<body>
<div class="container">
    <h1>欢迎，{{ session.get('userinfo').get('username') }}</h1>
    <h3><a href="{{ url_for('rbac.logout') }}">注销</a></h3>
</div>


<script src="{{ url_for('static',filename='jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js') }}"></script>

</body>
</html>