{% extends 'base_template.html' %}

{% block title %}登录{% endblock %}

{% block content %}
    <form method="post" class="form-horizontal">
        <div class="form-group">
            {{ login_form.username.label }}
            <div>
                {{ login_form.username }}
            </div>
            {{ login_form.username.errors[0] }}
        </div>

        <div class="form-group">
            {{ login_form.password.label }}
            <div>
                {{ login_form.password }}
            </div>
            {{ login_form.password.errors[0] }}
        </div>

        <input type="submit" value="登录" class="btn btn-primary">

    </form>
{% endblock content %}